---
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  return [
    { params: { tag: "ruben" } }, 
    { params: { tag: "alejandro" } },
    { params: { tag: "arlin" } },
    { params: { tag: "joseluis" } },
  ];
}

const { tag } = Astro.params;
---
<Layout pagetitle={tag}>
  <p>Bienvenid@ {tag}</p>
</Layout>