---
import Layout from "../layouts/Layout.astro";
const pagetitle="Acerca de Rubén"
---

<Layout pagetitle={pagetitle}>
	<ul>
		<li>añskjdhalskdn</li>
		<li>añskjdhalskdn</li>
		<li>añskjdhalskdn</li>
		<li>añskjdhalskdn</li>
		<li>añskjdhalskdn</li>

	</ul>
</Layout>